{% extends 'home/base.html' %}
{% load static %}

{% block slider %}
    <!-- slider section -->
    <section class="slider_section ">
      <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container-fluid ">
              <div class="row">
                <div class="col-md-6">
                  <div class="detail-box">
                    <h1>
                      Smart Watches
                    </h1>
                    <p>
                      Aenean scelerisque felis ut orci condimentum laoreet. Integer nisi nisl, convallis et augue sit amet, lobortis semper quam.
                    </p>
                    <div class="btn-box">
                      <a href="" class="btn1">
                        Contact Us
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="img-box">
                    <img src="{% static 'home/images/slider-img.png' %}" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item ">
            <div class="container-fluid ">
              <div class="row">
                <div class="col-md-6">
                  <div class="detail-box">
                    <h1>
                      Smart Watches
                    </h1>
                    <p>
                      Aenean scelerisque felis ut orci condimentum laoreet. Integer nisi nisl, convallis et augue sit amet, lobortis semper quam.
                    </p>
                    <div class="btn-box">
                      <a href="" class="btn1">
                        Contact Us
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="img-box">
                    <img src="{% static 'home/images/slider-img.png' %}" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item ">
            <div class="container-fluid ">
              <div class="row">
                <div class="col-md-6">
                  <div class="detail-box">
                    <h1>
                      Smart Watches
                    </h1>
                    <p>
                      Aenean scelerisque felis ut orci condimentum laoreet. Integer nisi nisl, convallis et augue sit amet, lobortis semper quam.
                    </p>
                    <div class="btn-box">
                      <a href="" class="btn1">
                        Contact Us
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="img-box">
                    <img src="{% static 'home/images/slider-img.png' %}" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ol class="carousel-indicators">
          <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
          <li data-target="#customCarousel1" data-slide-to="1"></li>
          <li data-target="#customCarousel1" data-slide-to="2"></li>
        </ol>
      </div>

    </section>
{% endblock %}
  <!-- shop section -->
  {% block content %}
  <section class="shop_section layout_padding">
    <div class="container">
      
      <div class="row">
        {% for watch in list_watch%}
        <div class="col-md-6 col-xl-3">
         
          <div class="box">
            <a href="{% url 'singerProduct' watch.ProductType.ProductTypeName watch.id %}">
              <div class="img-box">
                <img src="{{watch.imgs.0}}" alt="">
              </div>
              <div class="detail-box">
                <h6>
                  {{watch.ProductName}}
                </h6>
                <h6>
                  Price:
                  <span>
                    ${{watch.price}}
                  </span>
                </h6>
              </div>
              {% if watch.sale  %}
                  
                  <div class="new" style="background-color: red;">
                    <span>
                      
                      Sale {{watch.sale}} %
                      
                    </span>
                  </div>
                  {% else %}
                  <div class="new" >
                    <span>
                      
                      Featured
                      
                    </span>
                  </div>
                  {% endif %}
              
            </a>
          </div>
         
        </div>
        {% endfor %}
    </div>
    <div class="btn-box">
      <a href="{% url 'showAll' %}">
       View More
      </a>
  </div>
  </section>
  
{% endblock %}
