{% extends 'home/base.html' %}
{% load static %}
{% block content %}
{% if not unpip %}
    <!-- single product -->
	<div class="single-product mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-md-5">
					<div class="single-product-img">
						<img id="oke" src="{{ims.0}}" alt="">
					</div>
				</div>
				<div class="col-md-7">
					<div class="single-product-content">
						<div style="margin-top: 10px;">
							<h3 style="display: inline-block;">{{singerProduct.ProductName}}</h3>
							{% if user.is_authenticated %}
							<div style="float: right;">
								<a href="{% url 'EditProduct' singerProduct.id %}">

									<input   type="button" style="margin-right: 10px;border-style: none;background-color: #F28123;font-weight: 700;text-transform: uppercase;font-size: 15px; border-radius: 25px; padding: 0 10px;" value="edit">
								</a>
								<a href="{% url 'DeleteProduct' singerProduct.id %}">

								<input  type="button" style="border-style: none;background-color: #F28123;font-weight: 700;text-transform: uppercase;font-size: 15px; border-radius: 25px;" value="delete">
								</a>
							</div>
							{% endif %}
						</div>
						{% if singerProduct.vcl %}
						<p class="single-product-pricing" style="text-decoration: line-through;"> $<span id="lol2" style="display:inline-block;font-size: 32px;color:#051922;font-weight: 700;opacity: 1;">{{singerProduct.price}}</span></p>
						<p class="single-product-pricing">SALE {{singerProduct.sale}}% : $<span id="lol" style="display:inline-block;font-size: 32px;color:#051922;font-weight: 700;opacity: 1;">{{singerProduct.vcl}}</span></p>
						{% else %}
						<p class="single-product-pricing" > $<span id="lol2" style="display:inline-block;font-size: 32px;color:#051922;font-weight: 700;opacity: 1;">{{singerProduct.price}}</span></p>
						{% endif %}
						<p><span>Stock:</span>
							{{singerProduct.stock}}
						</p>
						<p>{{singerProduct.describe}}</p>
					
						<div class="single-product-form">
							<form action="" method=POST>
								{% csrf_token %}
								<input type="text" id="soluong" placeholder="0" name="quantily" style="width: 60px;"pattern="[1-9]{}" title="Vui lòng nhập số lượng sản phẩm lớn hơn 0" required>
								
								<input type="text" placeholder="UserName" name="UserName" style="width: 160px;" required >
								<input type="text" placeholder="sex" name="Sex" style="width: 60px;" required>
								<input type="text" placeholder="Number" name="Number" style="width: 120px;" required>
								<input type="text" placeholder="email" name="email" style="width: 200px;" required>  
								
								<div style="display: flex;margin-top: 20px;">
									<input class="cart-btn" style="margin: auto;" type="submit" value=" Buy Now">
								</div>
								
							</form>
							
						</div>
						
		
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end single product -->

	<!-- more picture -->
	<div class="more-products mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-6 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<img id="okes" src="{{ims.1}}" alt="">
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<img id="okes" src="{{ims.2}}" alt="">
						</div>	
					</div>
				</div>
				<div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<img id="okes" src="{{ims.3}}" alt="">
						</div>				
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end more picture -->
{% else %}
<div style="min-height: 500px;display: flex;">
	<p style="font-size: 70px;margin: auto;text-align: center;">{{unpip}}
	</p></div>
	<script type="text/javascript">
		setTimeout(function Redirect() {
		  window.location="{% url 'home' %}";
		  
	   },3500)
	   Redirect();
	
 </script>
{% endif %}

<script>
	
	var a= document.getElementById('soluong')
	var b=document.getElementById('lol')
	var c=document.getElementById('lol2')
	a.oninput = function(e)
	{
		if(e.target.value!=0)
		{% if singerProduct.vcl %}
		{b.innerText=e.target.value*{{singerProduct.vcl}}}
		{c.innerText=e.target.value*{{singerProduct.price}}}
		{% else %}
		{c.innerText=e.target.value*{{singerProduct.price}}}
	{% endif %}
	}
	
</script>
{% endblock %}
